/* Navbar Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 16px;
  position: sticky;
}

.logo p {
  color: var(--Primary, #00668d);
  font-family: "Russo One";
  font-size: 48px;
  line-height: 132%;
  letter-spacing: -0.96px;
}

.nav-links {
  display: flex;
  gap: 32px;
}
.nav-links a {
  color: var(--Text-Heading, #1e1e1e);
  font-family: Roboto;
  font-weight: 500;
  line-height: 164%;
  text-transform: capitalize;
}
.nav-links a:hover {
  color: var(--primary--color);
}

.nav-buttons {
  display: flex;
  gap: 24px;
}

.signin-btn,
.signup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 8px 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 164%;
  text-transform: capitalize;
}

.signin-btn {
  border: 1px solid #ffb222;
  color: #1e1e1e;
}

.signup-btn {
  background: #ffb222;
  color: #000;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  transition: right 0.3s ease;
  z-index: 20;
}

.sidebar.show {
  right: 0;
}

.sidebar li {
  width: 100%;
  margin-bottom: 16px;
}

.sidebar a {
  width: 100%;
  color: var(--Text-Heading, #1e1e1e);
  font-family: Roboto;
  font-weight: 500;
  line-height: 164%;
  text-transform: capitalize;
  padding: 8px 16px;
  transition: background-color 0.3s;
  display: block;
}

.sidebar a:hover {
  background-color: #f0f0f0;
}

.sidebar li:first-child a {
  text-align: right;
  padding-right: 0;
}

.menu-button {
  display: none;
}

/* Responsive Styles */
@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  nav {
    gap: 24px;
  }
  .nav-links {
    display: flex;
    gap: 24px;
  }

  .logo p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1199px) {
  .nav-links,
  .nav-buttons {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .logo p {
    font-size: 32px;
  }
}

@media only screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
  .logo p {
    font-size: 20px;
  }
}
